doctype html
html(lang='en', ng-app='ubsrd')
  head
    title #{title} - UbSRD
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/d3.js')
  body
    header
      h1 UbSRD
      h2 The Ubquitin Structural Relationship Database
    .container
      .main-content(ng-view)
        div(d3-bars, bar-height='20', bar-pdding='5')
        block content
    footer
      p Running on node with Express, Jade and Stylus
