doctype html
html
  head
    title #{title} - UbSRD
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 UbSRD
      h2 The Ubquitin Structural Relationship Database
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus
